img {
  max-width: 800px;
}

@media screen and (max-width: 800px) {
  img {
    max-width: calc(100% - 2.5em);
  }
}

.GuestInfoPage_Schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.GuestInfoPage_ScheduleTable {
  text-align: left;
}

.GuestInfoPage_ScheduleTable td {
  padding: 0.2em 1.3em;
}
