.GuestInfoPage_Wrapper {
  text-align: center;

  margin-bottom: 2em;

  max-width: 800px;
}


.GuestInfoPage_Wrapper > * {
  padding: 1em 1em;
}

.GuestInfoPage_Links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.GuestInfoPage_Links a {
  padding: 0.5em 1em;
}

img {
  max-width: 800px;
}

@media screen and (max-width: 800px) {
  img {
    max-width: calc(100% - 2.5em);
  }
}



.GuestInfoPage_Schedule {
  display: flex;
  flex-direction: column;
  align-items: center ;
}

.GuestInfoPage_ScheduleTable {
  text-align: left;

}

.GuestInfoPage_ScheduleTable td {
  padding: 0.2em 1.3em;
}