.AppWrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  font-family: 'Didot', Didot , serif;
  font-size: 16px;
}

html {
  background-color: #e1fced;
}


a, a:hover, a:visited {
  color: #000000;
  text-decoration: none;
}