.AppWrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  margin: 0;
  padding: 0;

  font-family: 'Didot', Didot, serif;
  font-size: 16px;
}

html {
  background-color: #e1fced;
}

a,
a:hover,
a:visited {
  color: #000000;
  text-decoration: none;
}

p > a, p > a:hover {
  text-decoration: underline;
}

#hr {
  border: 0;
  border-top: 1px solid #8c8b8b;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 80%;
}

.inline-link {
  text-decoration: underline;
}

.PageWrapper {
  text-align: center;

  margin-bottom: 2em;

  max-width: 800px;
}

.PageWrapper > * {
  padding: 1em 1em;
}

img {
  max-width: 800px;
}

.portrait-img-holder {
  max-width: 100%;
}

.portrait-img-holder img {
  max-width: calc(50% - 0.5em);
  display: inline;
}

.portrait-img-holder img:first-child {
  margin-right: 1em;
}